
APII_Ch18_Emmanuel_16532/.cache/CacheVersion
APII_Ch18_Emmanuel_16532/.cache/.DS_Store
APII_Ch18_Emmanuel_16532/.cache/LMDB/data.mdb
APII_Ch18_Emmanuel_16532/.cache/LMDB/lock.mdb
APII_Ch18_Emmanuel_16532/.DS_Store
APII_Ch18_Emmanuel_16532/APII_Ch18_Emmanuel_16532.crossover.validationcache
APII_Ch18_Emmanuel_16532/Originals/.DS_Store
APII_Ch18_Emmanuel_16532/APII_Ch18_Emmanuel_16532.crossover.wsettings
.DS_Store
